exportPattern("^[[:alpha:]]+")

importFrom("graphics", "barplot", "segments")
importFrom("stats", "dgamma", "dnbinom", "dnorm", "model.matrix", "optim", "pnbinom", "rgamma", "rnbinom", "rnorm", "runif", "sd")
importFrom(coda, as.mcmc, batchSE, heidel.diag, HPDinterval)
importFrom(bayesm, lndIWishart)

# register S3 methods
S3method(summary, composition)
S3method(predict, composition)
S3method(plot, comphat)
